<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
    <h1>Happy Birthday Ashlee!!!</h1>
    <% if @pictures %>
				<p class="btn btn-default btn-warning"><%= link_to "Add a Birthday Greeting!", new_picture_path, class: "navbar-link" %></p>
				</br>
				<button class="btn btn-default btn-success">Display Greetings as Slideshow <span class="badge"><%= Picture.all.length %></span></button>
		<% else %>
			<p class="btn btn-default btn-warning"><%= link_to "Back to Greetings", root_path, class: "navbar-link" %></p>
		<% end %>
				

    </div>
  </nav>
