  

  <% @pictures.each do |picture| %>
      <div class="containing-border">
        <div class="description">
          <h3><%= picture.description %></h3>
          </div>
        <div> 
          <h3>From: <%= picture.username %></h3> 
          </div>
      <% if picture.image.blank? == false %>
        <div class="description">
          <%= image_tag picture.image.url(:large) %>
        </div>
        <% end %>
        <hr>

        <% end %>
      </div>

<%= link_to t('.new', :default => t("Upload Happy Birthday Picture")), 
            new_picture_path,
            :class => 'btn btn-primary' %>
