<%- model_class = Picture -%>
<div class="page-header">
  <h1><%=t '.title', :default => ["Upload a Happy Birthday Picture for Ashlee!"], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
